@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200&display=swap');

body{
    width:100%;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.wrapper{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
/* header start */
.header-container{
    width: 100%;
}
.header-container .row {
    width: 100%;
    margin:0;
}
.header-container .col-md-2:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin:0;
}
.header-container ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight:700;
    padding: 5px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
    color: #F04336;
}
.header-container ul li:hover{
    background-color: #F04336;
    color:#fff;
}
.header-container .row .col-md-2:last-child{
    display: flex;
    align-items: center;
}
.header-container .col-md-2:last-child .btn{
    border: 1px solid #F04336;
    margin-right: 20px;
    height: 40px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.header-container .col-md-2:last-child .btn:hover{
    background-color: #F04336;
    color:#fff;
    border: 1px solid #fff;
}
.header-container .col-md-2:last-child .btn i{
    padding-right: 10px;
}
.header-container .col-md-2:last-child .fav-item-icon, .header-container .col-md-2:last-child .cart-icon{
    padding: 0 5px;
    cursor: pointer;
}
.row .navbar{
    background-color: #F04336;
}
button.navbar-toggler{
    background-color: black;
}
ul.navbar-nav li a.nav-link{
    color:black;
}
/* Header end */
/* breadcrumb */
.nav-bc{
    width: 80%;
    margin: 20px 0;
}
/* cart */
.cart-container{
    width: 80%;
    margin-bottom: 40px;
}
.cart-container .row .col-6{
    display: flex;
    align-items: center;
}
.cart-container .row .col-md-8{
    padding: 10px 20px;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 4px;
}
.cart-container .row .col-md-8 .row:first-child{
    border-bottom: 1px solid rgb(186, 186, 186);
}
.cart-container .row .col-md-8 .row:first-child p{
    font-size: 18px;
    font-weight: 700;
}
.cart-container .row .col-md-8 .row:first-child  .col-2{
    text-align: center;
}
.cart-container .row .col-md-8 .row:nth-child(2){
    margin-top: 20px;
    border-bottom: 1px solid rgb(186, 186, 186);
    padding-bottom: 10px;
}
.cart-container .row .col-md-8 .row:nth-child(2) p{
    margin-bottom: 0;
}
.cart-container .row .col-md-8 .row:nth-child(2) .col-md-6{
    display: flex;
    align-items: center;
}
.cart-container .row .col-md-8 .row:nth-child(2) .col-md-6 img{
    width: 80px;
    height: 80px;
}
.cart-container .row .col-md-8 .row:nth-child(2) .col-md-6 p{
    font-size: 14px;
    font-weight: 700;
}
.cart-container .row .col-md-8 .row:nth-child(2) .col-md-2,.cart-container .row .col-md-8 .row:first-child .col-md-2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-container .row .col-md-8 .row:nth-child(2) .col-md-2:last-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-container .row .col-md-8 .row:nth-child(2) .col-md-2:last-child .cart-icon{
    cursor: pointer;
}
.cart-container .row .col-md-8 .cart-footer{
    margin: 10px 0;
}
.cart-container .row .col-md-8 .cart-footer form{
    display: flex;
    justify-content: space-between;

}
.cart-container .row .col-md-8 .cart-footer form input{
    border: 1px solid rgb(186, 186, 186);
    border-radius: 4px;
    outline: none;
    height: 40px;
    padding-left: 10px;
}
.cart-container .row .col-md-8 .cart-footer form button:last-child{
    outline: none;
    background-color: #fff;
    border:1px solid gray;
    border-radius: 4px;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}
.cart-container .row .col-md-8 .cart-footer form button:last-child:hover{
    background-color:#F04336;
    border:none;
    color:#fff;
}
.cart-container .row .col-md-8 .cart-footer form .coupon button{
    outline: none;
    border:none;
    background-color: #006266;
    height: 40px;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}
.cart-container .row .col-md-8 .cart-footer form .coupon button:hover{
    background-color: #00484b;
    color:#fff;
}
.cart-container .row .col-md-4{
    padding: 10px 20px;
    border-radius: 4px;
}
.cart-container .row .col-md-4 .price,.cart-container .row .col-md-4 .shipping-cost,.cart-container .row .col-md-4 .total-price{
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}
.cart-container .row .col-md-4 .proceed-box button{
    width: 100%;
    border:none;
    outline: none;
    margin: 5px 0;
    background-color: #F04336;
    height: 40px;
    border-radius: 4px;
    color:#fff;
    transition: all 0.3s ease-in-out;
}
.cart-container .row .col-md-4 .proceed-box button:hover{
    background-color: #cd2216;
}
.cart-container .row .col-md-4 .proceed-box .cart-title,.cart-container .row .col-md-4 .proceed-box .price, .cart-container .row .col-md-4 .proceed-box .shipping-cost, .cart-container .row .col-md-4 .proceed-box .total-price{
    padding: 0 10px;
    border-bottom: 1px solid rgb(212, 212, 212);
}
.cart-container .row .col-md-4 .proceed-box .total-price{
    border:none;
}
/* homepages footer */
.footer{
    width: 100%;
    height: 100%;
    background-color: black;
    margin-top: auto;
    padding: 20px 0;
}
.footer .row {
    height: 100%;
    margin:0;    
}
.footer .row .col-sm-12{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.footer .row .col-sm-12 .footer-newsletter{
    margin-top: 20px;
}
.footer .row .col-sm-12 .footer-newsletter p{
    margin: 5px 0;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
.footer .row .col-sm-12 .footer-newsletter form{
    height: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    outline: none;
    border:none;
    border-radius: 15px;
    padding-left: 10px;
}
.footer .row .col-sm-12 .footer-newsletter form input{
    outline: none;
    border:none;
    width: 250px;
}
.footer .row .col-sm-12 .footer-newsletter .search-btn{
    height: 40px;
    width: 40px;
    border:none;
    border-radius: 0 10px 10px 0;
    background-color: #006266;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.footer .row .col-sm-12 .footer-newsletter .search-btn:hover{
    background-color: #008488;
}
.footer .row .col-sm-12 .footer-newsletter .search-btn i{
    color:#fff;
    font-size:20px
}
.footer .footer-fl-us{
margin-top: 30px
}
.footer .footer-fl-us i{
    font-size: 35px;
    padding: 0 10px;
    color:#fff;
    cursor: pointer;
}
.footer .row .col-md-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.footer .row .col-md-3 p{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
.footer .row .col-md-3 ul{
    list-style: none;
    padding-left:0;

}
.footer .row .col-md-3 ul li{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.footer .row .col-md-3 ul li:hover{
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}

