@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200&display=swap');

body{
    width:100%;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.wrapper{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
/* header start */
.header-container{
    width: 100%;
}
.header-container .row {
    width: 100%;
    margin:0;
}
.header-container .col-md-2:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin:0;
}
.header-container ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight:700;
    padding: 5px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
    color: #F04336;
}
.header-container ul li:hover{
    background-color: #F04336;
    color:#fff;
}
.header-container .row .col-md-2:last-child{
    display: flex;
    align-items: center;
}
.header-container .col-md-2:last-child .btn{
    border: 1px solid #F04336;
    margin-right: 20px;
    height: 40px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.header-container .col-md-2:last-child .btn:hover{
    background-color: #F04336;
    color:#fff;
    border: 1px solid #fff;
}
.header-container .col-md-2:last-child .btn i{
    padding-right: 10px;
}
.header-container .col-md-2:last-child .fav-item-icon, .header-container .col-md-2:last-child .cart-icon{
    padding: 0 5px;
    cursor: pointer;
}
.row .navbar{
    background-color: #F04336;
}
button.navbar-toggler{
    background-color: black;
}
ul.navbar-nav li a.nav-link{
    color:black;
}
/* Header end */
/* breadcrumb */
.nav-bc{
    width: 80%;
    margin: 20px 0;
}
/* checkbox */
.check-out-box{
    width: 30%;
    margin:30px 0;
}
.check-out-box .contacts{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.check-out-box .contacts span{
    color:#F04336
}
.check-out-box .contacts input{
    outline: none;
    border:1px solid #ced4da;
    border-radius: 4px;
    height: 40px;
}
.check-out-box .contacts:last-child input{
    height: 100px;
}
.check-out-box  button{
    outline: none;
    border:none;
    width: 100%;
    height: 40px;
    background-color: #002f30;
    color:#fff;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}
.check-out-box  button:hover{
    background-color: #00696a;
}
/* homepages footer */
.footer{
    width: 100%;
    height: 100%;
    background-color: black;
    margin-top: auto;
    padding: 20px 0;
}
.footer .row {
    height: 100%;
    margin:0;    
}
.footer .row .col-sm-12{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.footer .row .col-sm-12 .footer-newsletter{
    margin-top: 20px;
}
.footer .row .col-sm-12 .footer-newsletter p{
    margin: 5px 0;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
.footer .row .col-sm-12 .footer-newsletter form{
    height: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    outline: none;
    border:none;
    border-radius: 15px;
    padding-left: 10px;
}
.footer .row .col-sm-12 .footer-newsletter form input{
    outline: none;
    border:none;
    width: 250px;
}
.footer .row .col-sm-12 .footer-newsletter .search-btn{
    height: 40px;
    width: 40px;
    border:none;
    border-radius: 0 10px 10px 0;
    background-color: #006266;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.footer .row .col-sm-12 .footer-newsletter .search-btn:hover{
    background-color: #008488;
}
.footer .row .col-sm-12 .footer-newsletter .search-btn i{
    color:#fff;
    font-size:20px
}
.footer .footer-fl-us{
margin-top: 30px
}
.footer .footer-fl-us i{
    font-size: 35px;
    padding: 0 10px;
    color:#fff;
    cursor: pointer;
}
.footer .row .col-md-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.footer .row .col-md-3 p{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
.footer .row .col-md-3 ul{
    list-style: none;
    padding-left:0;

}
.footer .row .col-md-3 ul li{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.footer .row .col-md-3 ul li:hover{
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}

