@media only screen and (max-width:767px){
    .header-container .row:first-child{
        display: none;
    }
}
@media only screen and (max-width:576px){
    .footer .row .col-md-3{
        margin-top:10px;
    }
    .banner .row .col-md-5 p{
        display: none;
    }
    .banner .row  .col-md-2{
        background-position-y: -240px;
    }


}
@media only screen and (min-width:767px) {
    .header-container .row:last-child, .header-container nav.nav-bar{
        display: none;
    }
    .header-container{
        margin-top:5px;
    }
    .products-category .row{
        height: 300px;
    }
    .banner{
        height: 572px !important;
        background-position-y: -170px;
    }

}
@media only screen and (min-width: 767px) and (max-width: 1080px){
    .header-container .row .col-md-2:last-child{
        padding-left: 0;
    }
    .header-container .col-md-2:last-child .btn{
        font-size: 14px !important;
        padding: 0 5px;
        margin-right: 0 !important;
    }
    .header-container .col-md-2:first-child{
        transform: scale(0.76);
    }
    .banner{
        height: 350px !important;
    }
}